html
    head
        link(rel='stylesheet', href='styles/styles.css', type='text/css')
        title  Super Sprinter 3000
    body
        h1 Edit User Story:
    form(id="addForm" method="post" action="/edited")
        p Story title:
        input(name="storyTitle" type=text value=editingStoryObject.title required)
        p User Story:
        textarea(name="userStory" cols="30", rows="10" type=text  required)=editingStoryObject.story
        p Acceptance criteria:
        textarea(name="criteria" cols="30", rows="10"  required)=editingStoryObject.criteria
        p Business value:
        input(name="value" type=number value=editingStoryObject.value min=100 max=1500)
        p Estimation:
        input(name="estimation" type=number value=editingStoryObject.estimation min=0.5 max=40)
        select(name="status")
            option(value="planning") planning
            option(value="todo") todo
            option(value="in progress") in progress
            option(value="review") review
            option(value="done") done
        button(type="submit" id="editStory") Edit User Story!