html
  head
    script(src='../js/cookieHelper.js')
    title  Super Sprinter 3000
    link(rel='stylesheet', href='styles/styles.css', type='text/css')
    
  body
    h1 Welcome to Super Sprinter 3000! 
    form
      button(id="add" formaction="/add") Add new User Story
    table
      tr
        th id 
        th Story title
        th(class="longRecord") User Story
        th(class="longRecord") Acceptance Criteria
        th Business value
        th Estimation
        th Status
    
      each obj in arrayOfRecordsToTable 
        tr
          td=obj.id
          td=obj.title
          td(class="longRecord")=obj.story
          td(class="longRecord")=obj.criteria
          td=obj.value
          td=obj.estimation
          td=obj.status
          td
            form
              button(id=obj.id, class="edit" onclick="editUserStoryCookieHelper(id)")
            
            